a:hover {
    color: red
    font-weight: bold;
    text-decoration: none
}

figcaption{
    font-family: cursive;
     8px;
    color: grey
     
}

nav li a{
    color: lightslategray;
    font-size: 25px
}

#traits{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border: solid slategray 1px;
    padding: 30px 30px 50px 50px  
}

.nav{
    border-color: rgba(236, 237, 238, 0.39);
    background-color: lightskyblue

}

.title{
    border: gray 1px solid;
    background-color: lightskyblue
}

.subtitle{
    font-family: 'Courier New', Courier, monospace;
    color: slategrey;
    font-size: 30px

}

image{
    background-color: slategray
    margin: 0px 0px 0px 0px;
}